.main {
    display: flex;
    justify-content: center;
}
/* H */
.wrap-layout_h1 {
    background-color: white;
    margin-top: 36px;
    /* padding: 12px 0 32px 0; */
    /* display: flex; */
}
.wrap-layout_h2 {
    background-color: white;
    margin-top: 95px;
    padding: 12px 0 32px 0;
    display: flex;
}
.wrap-layout_item {
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 48px;
    font-weight: 700;
    /* margin-top: 20px; */
    background-color: #ef5122;
}
/* I */
.wrap-layout_i1 {
    background-color: white;
    margin-top: 36px;
    margin-left: 48px;
}
/* T */
.wrap-layout_t1 {
    background-color: white;
    margin-top: 36px;
}
.wrap-layout_t2 {
    background-color: white;
    margin-top: 24px;
    padding: 12px 0 32px 0;
    display: flex;
}
.t-left {
    margin-left: 48px;
}
/* 1 */
.wrap-layout_s1 {
    background-color: white;
    margin-top: 36px;
    margin-left: 40px;
}
/* 3 */
.wrap-layout_32 {
    background-color: white;
    margin-top: 36px;
}
.top {
    margin-left: 48px;
    margin-top: 36px;
    display: flex;
    margin-top: 196px;
    margin-right: -80px;
}
.middle {
    /* margin-left: 20px; */
    margin-top: 30px;
    display: flex;
    margin-top: 115px;
    margin-right: -160px;
}
.bottom {
    /* margin-left: 20px; */
    margin-top: 36px;
    display: flex;
    padding-left: 80px;
}
